In [2]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
from scipy.stats import ttest_ind

In [3]:
#####import raw data
df1 = pd.read_csv('t6_10.csv')
df2 = pd.read_csv('t11.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16773060 entries, 0 to 16773059
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   vnOrderDate   object
 1   userId        object
 2   merchantCity  object
 3   couponCode_0  object
 4   id            object
dtypes: object(5)
memory usage: 639.8+ MB

In [4]:
#choose t7/t8 data only
df1['Date']= pd.to_datetime(df1['vnOrderDate'])
t78=df1[(df1['Date'] >= '2020-07-01') & (df1['Date'] <= '2020-08-31')]
t78

,vnOrderDate,userId,merchantCity,couponCode_0,id,Date
1917,2020-07-23,II6tad6gD,Hồ Chí Minh,KHAO30SG,HTpwOVbUPoCsia,2020-07-23
1918,2020-07-23,al89Eam_l,Hồ Chí Minh,KHAO30SG,Aq792DascYwrEZ,2020-07-23
1919,2020-07-23,5Sz4Ctg_m,Hồ Chí Minh,KHAO30SG,fROgdR3A2QLJvM,2020-07-23
1920,2020-07-23,-W67Yi82h,Hồ Chí Minh,KHAO30SG,UCca2Ms2b44WN0,2020-07-23
1921,2020-07-23,2NpD7cVOI,Hồ Chí Minh,KHAO30SG,fWvJ2VWvQrc763,2020-07-23
...,...,...,...,...,...,...
16773055,2020-07-12,RxTr0LMsi,Hồ Chí Minh,KHAO30SG,1YfI5rxKPJcTO6,2020-07-12
16773056,2020-07-12,3Ep8ywvnO,Hồ Chí Minh,KHAO30SG,83xJ2xQ4A4HGvN,2020-07-12
16773057,2020-07-12,GliQVTZB_k,Hồ Chí Minh,KHAO30SG,BV6rB8sZJao171,2020-07-12
16773058,2020-07-12,kWIZ5VPOV,Hồ Chí Minh,KHAO30SG,CwXUrE35S5otF0,2020-07-12
16773059,2020-07-12,I3WnaSAzg,Hồ Chí Minh,KHAO30SG,Qx861mfehGKac0,2020-07-12

In [5]:
#choose data T7   and      data T8 (ungroup)
t7=df1[(df1['Date'] >= '2020-07-01') & (df1['Date'] <= '2020-07-31')]
t8=df1[(df1['Date'] >= '2020-08-01') & (df1['Date'] <= '2020-08-31')]
t7

#order number by user id of T7 (all user)----general set for MM and nonMM Users in T7
cp_gen7= t7.groupby(['userId','merchantCity']).agg(order_no=('couponCode_0','count')).reset_index()
cp_gen7

#order number by user id of T8 (all user)----general set for MM and nonMM Users in T8
cp_gen8= t8.groupby(['userId','merchantCity']).agg(order_no=('couponCode_0','count')).reset_index()
t8

,vnOrderDate,userId,merchantCity,couponCode_0,id,Date
18915,2020-08-13,3YDowzCfl,Hà Nội,TRUMCUOIHN,N3y1TJG7UOP0y6,2020-08-13
18916,2020-08-13,zxZg2eC49,Hà Nội,TRUMCUOIHN,FV7RzYxe4qz1P8,2020-08-13
18917,2020-08-13,hplxNgVpu,Hà Nội,TRUMCUOIHN,1dSANZDAUYtr0M,2020-08-13
18918,2020-08-13,DgUYlTD_U,Hà Nội,TRUMCUOIHN,h6uGW2TSbb6O7r,2020-08-13
18919,2020-08-13,1R49eRDWV,Hà Nội,TRUMCUOIHN,tecSbQWeSajths,2020-08-13
...,...,...,...,...,...,...
16753834,2020-08-25,7Q3_rAFy0,Hồ Chí Minh,NaN,PKsZK38IxrVdUy,2020-08-25
16753835,2020-08-25,OqLnXIyXo,Hồ Chí Minh,NaN,i01WfJ2rjHBwLt,2020-08-25
16753836,2020-08-25,xYUah040S,Hồ Chí Minh,NaN,SL2qkQ1Vwkf2sZ,2020-08-25
16753837,2020-08-25,B9eMY0bLE,Hồ Chí Minh,NaN,KfHGT4mc8VAXKR,2020-08-25
16753838,2020-08-25,VGGD4Jra1,Hồ Chí Minh,NaN,7XY9CQtOWvdHn5,2020-08-25

In [6]:
#Meo Map data (ungroup)
# only look at MM User in T8 --> FIND MM USERS
mm = t78.loc[t78['couponCode_0'].str.contains("MEOMAP", case=False, na= False)]
mm8 = mm[(mm['Date'] >= '2020-08-01') & (mm['Date'] <= '2020-08-31')]

# ==> GROUP MM USERS
cp8= mm8.groupby(['userId','merchantCity']).agg(order_no=('couponCode_0','count')).reset_index()
cp8

          userId merchantCity  order_no
0      --5R6z7fL       Hà Nội         8
1      --74FCP25       Hà Nội         3
2      --Bew9Z0A       Hà Nội         1
3      --FRRy0zV  Hồ Chí Minh         4
4      --FxSNggg  Hồ Chí Minh         5
...          ...          ...       ...
77103  zzf2NAuHr  Hồ Chí Minh         7
77104  zzfyT4sL_  Hồ Chí Minh         3
77105  zznV3OkJd  Hồ Chí Minh         4
77106  zztKvdq2E  Hồ Chí Minh         3
77107  zzzP05HxJ       Hà Nội         3

[77108 rows x 3 columns]

In [7]:
#Order quantity of MM User in T8 for any type of orders (from T8)
cp8_unsorted= cp_gen8.merge(cp8['userId'], on='userId', how='right', suffixes=('_8','')).fillna(0)
print(cp8_unsorted)

#Order quantity of MM User in T7 for any type of orders (from T8)
cp7_unsorted= cp_gen7.merge(cp8['userId'], on='userId', how='right', suffixes=('_7','')).fillna(0)
print(cp7_unsorted)

          userId merchantCity  order_no
0      --5R6z7fL       Hà Nội        43
1      --74FCP25       Hà Nội        16
2      --Bew9Z0A       Hà Nội         9
3      --FRRy0zV  Hồ Chí Minh        21
4      --FxSNggg  Hồ Chí Minh        28
...          ...          ...       ...
77399  zzf2NAuHr  Hồ Chí Minh        43
77400  zzfyT4sL_  Hồ Chí Minh        19
77401  zznV3OkJd  Hồ Chí Minh        22
77402  zztKvdq2E  Hồ Chí Minh        25
77403  zzzP05HxJ       Hà Nội        26

[77404 rows x 3 columns]
          userId merchantCity  order_no
0      --5R6z7fL       Hà Nội      29.0
1      --74FCP25       Hà Nội      19.0
2      --Bew9Z0A       Hà Nội       6.0
3      --FRRy0zV  Hồ Chí Minh      24.0
4      --FxSNggg  Hồ Chí Minh      14.0
...          ...          ...       ...
77299  zzf2NAuHr  Hồ Chí Minh      47.0
77300  zzfyT4sL_  Hồ Chí Minh      10.0
77301  zznV3OkJd  Hồ Chí Minh      38.0
77302  zztKvdq2E  Hồ Chí Minh      31.0
77303  zzzP05HxJ       Hà Nội       2.0

[77304 rows x 3 columns]

In [8]:
#mean order of MM Users for each city in t7
print(np.mean(cp7_unsorted.order_no[cp7_unsorted.merchantCity=='Hà Nội']))
print(np.mean(cp7_unsorted.order_no[cp7_unsorted.merchantCity=='Hồ Chí Minh']))
#mean order of MM Users for each city in t8
print(np.mean(cp8_unsorted.order_no[cp8_unsorted.merchantCity=='Hà Nội']))
print(np.mean(cp8_unsorted.order_no[cp8_unsorted.merchantCity=='Hồ Chí Minh']))

10.499184206232664
14.996308213378493
15.441788692625911
17.064688379573784

In [9]:
#choose subset of MM User to match with high-order nonMM User in t7
cp7=cp7_unsorted[(cp7_unsorted.order_no>9) & (cp7_unsorted.order_no<15)]
print(cp7)

#choose subset of MM User to match with high-order nonMM User in t8
cp8f=cp8_unsorted[(cp8_unsorted.order_no>13) & (cp8_unsorted.order_no<19)]
print(cp8f)

          userId merchantCity  order_no
4      --FxSNggg  Hồ Chí Minh      14.0
6      --QztmuGs  Hồ Chí Minh      11.0
22     -092vlfEA       Hà Nội      12.0
25     -0HlI3ruS  Hồ Chí Minh      11.0
27     -0Mo8PSka  Hồ Chí Minh      13.0
...          ...          ...       ...
77285  zzKCjGwiN       Hà Nội      11.0
77289  zzNiuuIDy  Hồ Chí Minh      11.0
77291  zzTQzLDMZ  Hồ Chí Minh      10.0
77293  zzWt9J7Wu  Hồ Chí Minh      14.0
77300  zzfyT4sL_  Hồ Chí Minh      10.0

[15455 rows x 3 columns]
          userId merchantCity  order_no
1      --74FCP25       Hà Nội        16
6      --QztmuGs  Hồ Chí Minh        14
7      --VJY7qfY  Hồ Chí Minh        15
8      --_SJmNxq  Hồ Chí Minh        14
17     -032SABPE       Hà Nội        16
...          ...          ...       ...
77383  zzI4nonUT       Hà Nội        15
77387  zzKnDbk0I  Hồ Chí Minh        15
77393  zzWt9J7Wu  Hồ Chí Minh        14
77395  zzY-ZK-tc  Hồ Chí Minh        18
77397  zz_50IfY1  Hồ Chí Minh        16

[16231 rows x 3 columns]

In [10]:
#Order quantity of T7 and T8 FOR MM USER
mm78_change= cp8f.merge(cp7[['userId','order_no']], on='userId', suffixes=('_8','_7')).fillna(0)

mm78_change['Order_Change']=mm78_change['order_no_8']-mm78_change['order_no_7']
mm78_change

          userId merchantCity  order_no_8  order_no_7  Order_Change
0      --QztmuGs  Hồ Chí Minh          14        11.0           3.0
1     -1F9S3RSPc  Hồ Chí Minh          14        12.0           2.0
2      -2CTMbsEf  Hồ Chí Minh          16        14.0           2.0
3      -2uwGed4i  Hồ Chí Minh          14        13.0           1.0
4      -2vKS_l-p  Hồ Chí Minh          15        10.0           5.0
...          ...          ...         ...         ...           ...
4071   ztBvNswKf  Hồ Chí Minh          15        13.0           2.0
4072   zw6niJbSI  Hồ Chí Minh          14        14.0           0.0
4073   zwpVTaFNs  Hồ Chí Minh          18        10.0           8.0
4074   zxMTmVoUc       Hà Nội          16        14.0           2.0
4075   zzWt9J7Wu  Hồ Chí Minh          14        14.0           0.0

[4076 rows x 5 columns]

In [11]:
#non-Meo users change in m7/m8
#remove MM users (ones in T8) from general users
nonmm = pd.concat([t78, mm8, mm8]).drop_duplicates(keep=False)

#non-MM Users data in T8
nonmm8 = nonmm[(nonmm['Date'] >= '2020-08-01') & (nonmm['Date'] <= '2020-08-31')]
#non-MM Users data in T7
nonmm7 = nonmm[(nonmm['Date'] >= '2020-07-01') & (nonmm['Date'] <= '2020-07-31')]
nonmm7

,vnOrderDate,userId,merchantCity,couponCode_0,id,Date
1917,2020-07-23,II6tad6gD,Hồ Chí Minh,KHAO30SG,HTpwOVbUPoCsia,2020-07-23
1918,2020-07-23,al89Eam_l,Hồ Chí Minh,KHAO30SG,Aq792DascYwrEZ,2020-07-23
1919,2020-07-23,5Sz4Ctg_m,Hồ Chí Minh,KHAO30SG,fROgdR3A2QLJvM,2020-07-23
1920,2020-07-23,-W67Yi82h,Hồ Chí Minh,KHAO30SG,UCca2Ms2b44WN0,2020-07-23
1921,2020-07-23,2NpD7cVOI,Hồ Chí Minh,KHAO30SG,fWvJ2VWvQrc763,2020-07-23
...,...,...,...,...,...,...
16773055,2020-07-12,RxTr0LMsi,Hồ Chí Minh,KHAO30SG,1YfI5rxKPJcTO6,2020-07-12
16773056,2020-07-12,3Ep8ywvnO,Hồ Chí Minh,KHAO30SG,83xJ2xQ4A4HGvN,2020-07-12
16773057,2020-07-12,GliQVTZB_k,Hồ Chí Minh,KHAO30SG,BV6rB8sZJao171,2020-07-12
16773058,2020-07-12,kWIZ5VPOV,Hồ Chí Minh,KHAO30SG,CwXUrE35S5otF0,2020-07-12
16773059,2020-07-12,I3WnaSAzg,Hồ Chí Minh,KHAO30SG,Qx861mfehGKac0,2020-07-12

In [ ]:
#Group Non-MM User in T8 for any type of orders (from MM Users T8)
noncp8_unosrted= nonmm8.groupby(['userId','merchantCity']).agg(order_no=('couponCode_0','count')).reset_index()

#Order quantity of MM User in T7 for any type of orders (from MMUsers T8)
noncp7_unsorted= nonmm7.groupby(['userId','merchantCity']).agg(order_no=('couponCode_0','count')).reset_index()
noncp7_unsorted
noncp7_unsorted.to_csv('nonMMJul')

In [ ]:
#choose subset of nonMM to match with MM high-order Users
noncp7=noncp7_unsorted[(noncp7_unsorted.order_no>9) & (noncp7_unsorted.order_no<15)]
print(noncp7)
#choose subset of nonMM to match with MM high-order Users
noncp8=noncp8_unosrted[(noncp8_unosrted.order_no>13) & (noncp8_unosrted.order_no<19)]
print(noncp8)

In [ ]:
#Order quantity of T7 and T8 FOR NON-MM USER
nonmm78_change= noncp8.merge(noncp7[['userId','order_no']], on='userId', suffixes=('_8','_7')).fillna(0)

nonmm78_change['Order_Change']=nonmm78_change['order_no_8']-nonmm78_change['order_no_7']
nonmm78_change

In [ ]:
##############################################Test the significant difference of MM and NonMM increment in order from t7- t8
mm_hcm = mm78_change[mm78_change.merchantCity == 'Hồ Chí Minh']['Order_Change']
nonmm_hcm = nonmm78_change[nonmm78_change.merchantCity == 'Hồ Chí Minh']['Order_Change']

mm_hcm_mean = np.mean(mm_hcm)
nonmm_hcm_mean = np.mean(nonmm_hcm)
print("HCM Meo Map change mean value:",mm_hcm_mean)
print("HCM nonMM change mean value:", nonmm_hcm_mean)

mm_hcm_std = np.std(mm_hcm)
nonmm_hcm_std = np.std(nonmm_hcm)
print("HCM Meo Map change std value:", mm_hcm_std)
print("HCM nonMM change std value:", nonmm_hcm_std)

ttest_hcm, pval_hcm = ttest_ind(mm_hcm,nonmm_hcm)
print("p-value",pval_hcm)

if pval_hcm <0.005:
  print("we reject null hypothesis")
else:
  print("we accept null hypothesis")

In [ ]:
##############################################Test the significant difference of MM and NonMM increment in order from t7- t8
mm_hn = mm78_change[mm78_change.merchantCity == 'Hà Nội']['Order_Change']
nonmm_hn = nonmm78_change[nonmm78_change.merchantCity == 'Hà Nội']['Order_Change']

mm_hn_mean = np.mean(mm_hn)
nonmm_hn_mean = np.mean(nonmm_hn)
print("HA Noi Meo Map change mean value:",mm_hn_mean)
print("Ha Noi nonMM change mean value:", nonmm_hn_mean)

mm_hn_std = np.std(mm_hn)
nonmm_hn_std = np.std(nonmm_hn)
print("HN MM-Order change std value:", mm_hn_std)
print("HN nonMM-Order change std value:", nonmm_hn_std)

ttest_hn, pval_hn = ttest_ind(mm_hn,nonmm_hn)
print("p-value",pval_hn)

if pval_hn <0.005:
  print("we reject null hypothesis")
else:
  print("we accept null hypothesis")

In [ ]:
###############################Change in order between MM and NonMM Users t12-t1
#choose t12/t1 data only
df2['Date']= pd.to_datetime(df2['vnOrderDate'])
t121=df2[(df2['Date'] >= '2020-12-01') & (df2['Date'] <= '2021-01-31')]
t121

In [ ]:
#choose data T12   and      data T1 (ungroup)
t12=df2[(df2['Date'] >= '2020-12-01') & (df2['Date'] <= '2020-12-31')]
t1=df2[(df2['Date'] >= '2021-01-01') & (df2['Date'] <= '2021-01-31')]

#order number by user id of T12 (all user)----general set for MM and nonMM Users in T12
cp_gen12= t12.groupby(['userId','merchantCity']).agg(order_no=('couponCode_0','count')).reset_index()
cp_gen12

#order number by user id of T1 (all user)----general set for MM and nonMM Users in T1
cp_gen1= t1.groupby(['userId','merchantCity']).agg(order_no=('couponCode_0','count')).reset_index()
cp_gen12

In [ ]:
#Meo Map data (ungroup)
# only look at MM User in T1 --> FIND MM USERS
mm121 = t121.loc[t121['couponCode_0'].str.contains("MEOMAP", case=False, na= False)]
mm1 = mm121[(mm121['Date'] >= '2021-01-01')]
mm12= mm121[(mm121['Date'] <= '2021-01-01')]

# ==> GROUP MM USERS in t1
cp1= mm1.groupby(['userId','merchantCity']).agg(order_no=('couponCode_0','count')).reset_index()

In [ ]:
#Order quantity of MM User in T1 for any type of orders (from T1)
cp1_unsorted= cp_gen1.merge(cp1['userId'], on='userId', how='right', suffixes=('_1','')).fillna(0)
print(cp1_unsorted)

#Order quantity of MM User in T12 for any type of orders (from T1)
cp12_unsorted= cp_gen12.merge(cp1['userId'], on='userId', how='right', suffixes=('_12','')).fillna(0)
print(cp12_unsorted)

In [ ]:
#mean order of MM Users for each city in t12
print(np.mean(cp12_unsorted.order_no[cp12_unsorted.merchantCity=='Hà Nội']))
print(np.mean(cp12_unsorted.order_no[cp12_unsorted.merchantCity=='Hồ Chí Minh']))
#mean order of MM Users for each city in t1
print(np.mean(cp1_unsorted.order_no[cp1_unsorted.merchantCity=='Hà Nội']))
print(np.mean(cp1_unsorted.order_no[cp1_unsorted.merchantCity=='Hồ Chí Minh']))

In [ ]:
#choose subset of nonMM to match with MM high-order Users in t12
cp12= cp12_unsorted[(cp12_unsorted.order_no>14) & (cp12_unsorted.order_no<21)]
#choose subset of nonMM to match with MM high-order Users in t1
cp1= cp1_unsorted[(cp1_unsorted.order_no>21) & (cp1_unsorted.order_no<25)]

In [ ]:
#Order quantity of T12 and T1 FOR MM USER
mm121_change= cp1.merge(cp12[['userId','order_no']], on='userId', suffixes=('_1','_12')).fillna(0)

mm121_change['Order_Change']=mm121_change['order_no_1']-mm121_change['order_no_12']
mm121_change

In [ ]:
#non-Meo users change in m12/m1
#remove MM users (ones in T1) from general users
nonmm121 = pd.concat([t121, mm1, mm1]).drop_duplicates(keep=False)

#non-MM Users data in T1
nonmm1 = nonmm121[(nonmm121['Date'] >= '2021-01-01') & (nonmm121['Date'] <= '2021-01-31')]
#non-MM Users data in T12
nonmm12 = nonmm121[(nonmm121['Date'] >= '2020-12-01') & (nonmm121['Date'] <= '2020-12-31')]

#Group Non-MM User in T1 for any type of orders (from MM Users T1)
noncp1_unsorted= nonmm1.groupby(['userId','merchantCity']).agg(order_no=('couponCode_0','count')).reset_index()

#Order quantity of MM User in T12 for any type of orders (from MMUsers T1)
noncp12_unsorted= nonmm12.groupby(['userId','merchantCity']).agg(order_no=('couponCode_0','count')).reset_index()
noncp1_unsorted

In [ ]:
#choose subset of nonMM to match with MM high-order Users in t12
noncp12= noncp12_unsorted[(noncp12_unsorted.order_no>14) & (noncp12_unsorted.order_no<21)]
#choose subset of nonMM to match with MM high-order Users in t1
noncp1= noncp1_unsorted[(noncp1_unsorted.order_no>21) & (noncp1_unsorted.order_no<25)]
noncp1

In [ ]:
#Order quantity of T12 and T1 FOR NON-MM USER
nonmm121_change= noncp1.merge(noncp12[['userId','order_no']], on='userId', suffixes=('_1','_12')).fillna(0)

nonmm121_change['Order_Change']=nonmm121_change.order_no_1 - nonmm121_change.order_no_12
nonmm121_change

In [ ]:
##############################################Test the significant difference of MM and NonMM increment in order from t12-t1
mm_hn121 = mm121_change[mm121_change.merchantCity == 'Hà Nội']['Order_Change']
nonmm_hn121 = nonmm121_change[nonmm121_change.merchantCity == 'Hà Nội']['Order_Change']

mm_hn_mean121 = np.mean(mm_hn121)
nonmm_hn_mean121 = np.mean(nonmm_hn121)
print("Ha Noi Meo Map change mean value:",mm_hn_mean121)
print("Ha Noi nonMM change mean value:", nonmm_hn_mean121)

mm_hn_std121 = np.std(mm_hn121)
nonmm_hn_std121 = np.std(nonmm_hn121)
print("HN controlled std value:", mm_hn_std121)
print("HN test std value:", nonmm_hn_std121)

ttest_hn121, pval_hn121 = ttest_ind(mm_hn121,nonmm_hn121)
print("p-value",pval_hn121)

if pval_hn121 <0.005:
  print("we reject null hypothesis")
else:
  print("we accept null hypothesis")

In [ ]:
##############################################Test the significant difference of MM and NonMM increment in order from t12-t1
mm_hcm121 = mm121_change[mm121_change.merchantCity == 'Hồ Chí Minh']['Order_Change']
nonmm_hcm121 = nonmm121_change[nonmm121_change.merchantCity == 'Hồ Chí Minh']['Order_Change']

mm_hcm_mean121 = np.mean(mm_hcm121)
nonmm_hcm_mean121 = np.mean(nonmm_hcm121)
print("HCM Meo Map change mean value:",mm_hcm_mean121)
print("HCM nonMM change mean value:", nonmm_hcm_mean121)

mm_hcm_std121 = np.std(mm_hcm121)
nonmm_hcm_std121 = np.std(nonmm_hcm121)
print("HCM controlled std value:", mm_hcm_std121)
print("HCM test std value:", nonmm_hcm_std121)

ttest_hcm121, pval_hcm121 = ttest_ind(mm_hcm121,nonmm_hcm121)
print("p-value",pval_hcm121)

if pval_hn121 <0.005:
  print("we reject null hypothesis")
else:
  print("we accept null hypothesis")